html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display:grid;
    background-image: url("/background/car-brands.jpg");
    background-color: #cccccc; 
    align-items: center;

}
p, h1, ol, label, input, #content {
    text-align: center; /* Align form elements to the center */
    margin: 15px;
  }
form {
    background-color: rgba(98, 0, 98, 0.519);
    display: inline-block;
    height: auto;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;

}
input[type=checkbox] {
    padding: 12px 18px;
    width: auto;
    height: auto;
    margin: auto;
    margin-right: 1em;
    padding: 6px;
    font-size: 12px;

}
label{
        border: none;
        color: white; /* Text color */
        text-decoration: none;
        margin: 4px 2px;
        height: 40px;
        width: 240px;
        cursor: pointer;

}
#Volkswagen-Golf-R {
    box-sizing: border-box;
    width: 10%;
}
#Mini-Johncooperworks {
    box-sizing: border-box;
    width: 10%;
}
#Honda-Civic-Type-R{
    box-sizing: border-box;
    width: 10%;
}
div.form {
    display: block;
    text-align: center;
}
@media screen and (min-width: 480px){
    #container {
        float: left;
         clear: right;
         margin: 3% auto 0 auto;
         width: 50%;
        }
        .fontsize {
         font-size: 1em;
        }
        input {
         width: 60%;
         font-weight: bolder;

        }
        #submit {
         width: 55%;
         font-size: 0.9em;
        }
}
      
 